/*------------------------------------*\
  #GRID-MIXINS_REGULAR
\*------------------------------------*/

@mixin grid-row ($var) {
	@for $i from 1 through $var {
		.brick--#{$i} {
			flex-grow: 1;
			flex-basis: brick-width($i);

			max-width: brick-width($i);
		}

		/*
		.unigrid--col.brick--#{$i},
		.unigrid--row.brick--#{$i},
		.brick--img.brick--#{$i},
		img.brick--#{$i}{
			width: (($unigrid-brick-width+$unigrid-gutter)*$i)-$unigrid-gutter;
			max-width: (($unigrid-brick-width+$unigrid-gutter)*$i)-$unigrid-gutter;
			flex-basis: (($unigrid-brick-width+$unigrid-gutter)*$i)-$unigrid-gutter;
		}

		.prepend--#{$i} {
			margin-left: ((($unigrid-brick-width+$unigrid-gutter)*$i) + $unigrid-half-gutter) !important;
		}
		.first.prepend--#{$i},
		.brick:first-child.prepend--#{$i}{
			margin-left: ((($unigrid-brick-width+$unigrid-gutter)*$i)) !important;
		}

		.append--#{$i} {
			margin-right: ((($unigrid-brick-width+$unigrid-gutter)*$i) + $unigrid-half-gutter) !important;
		}
		.last.append--#{$i},
		.brick:last-child.append--#{$i}{
			margin-right: ((($unigrid-brick-width+$unigrid-gutter)*$i)) !important;
		}
		*/
	}
}
