//
// Grid examples
//

.bd-example-row {
	.row + .row {
		margin-top: 1rem;
	}

	.row {
		> .col,
		> [class^="col-"] {
			padding-top: .75rem;
			padding-bottom: .75rem;
			background-color: rgba(86,61,124,.15);
			border: 1px solid rgba(86,61,124,.2);
		}
	}

	.flex-items-top,
	.flex-items-middle,
	.flex-items-bottom {
		min-height: 6rem;
		background-color: rgba(255,0,0,.1);
	}
}

.bd-example-row-flex-cols .row {
	min-height: 10rem;
	background-color: rgba(255,0,0,.1);
}

.bd-highlight {
	background-color: rgba(255,0,0, .15);
	border: 1px solid rgba(255,0,0, .15);
}

// UNIGRID
//* show border */
.show-border {
	/*
	border-left: 5px solid red;
	border-right: 5px solid red;
	*/
}
.show-border .brick {
	background-color: rgba(204, 204, 204, 0.5);
}
.show-border .content {
	color: #fff;
	background-color: rgba(204, 204, 204, 1);

	//line-height: $unigrid-brick-height;
	height: 100%;
	width: 100%;
}

.show-border .unigrid--col .content {
	background-color: rgba(139, 0, 0, 0.75);
}

.show-border.unigrid__container {
	background-color: rgba(255, 225, 0, 1);

	&.unigrid__header,
	&.unigrid__footer {
		background-color: rgba(255, 0, 0, 1);
		color: rgba(255, 225, 0, 1);
	}
}

//* show grid */
.grid,
.col-grid,
.mobile-grid,
.mobile-col-grid{
	height: 100%;
	position: absolute;

	z-index: 1030;
}

.mobile-col-grid > .brick {
	margin-left: 0;
	margin-right: 0;
}

.show-grid.grid,
.show-grid.mobile-grid {
	display: flex;
}

.show-grid.col-grid,
.show-grid.mobile-col-grid {
	display: block;
}

.grid .brick {
	border-right: 1px solid red;
	border-left: 1px solid red;

	padding: 0 ($unigrid-brick-padding-rtl - 1);

	height: 100% !important;

	margin-top: 0;
	margin-bottom: 0;

	width: brick-width();
	flex-grow: 1;
	flex-basis: brick-width();

	background: none;

	div {
		border-right: 1px solid orange;
		border-left: 1px solid orange;

		font-size: 0.75em;
		height: 100%;
	}
}

.col-grid .brick {
	border-top: 1px solid red;
	border-bottom: 1px solid red;

	width: brick-width($unigrid);
	height: brick-height();

	padding: ($unigrid-brick-padding-ttb - 1) 0;
	margin: $unigrid-half-gutter 0;

	background: none;

	&:first-of-type {
		margin-top: 0;
	}

	div {
		border-top: 1px solid orange;
		border-bottom: 1px solid orange;

		font-size: 0.75em;
		height: 100%;
	}
}
